html {
  font-family: sans-serif;
}

.content-label {
  padding: 10px;
}

header {
  background-color: gray;
  height: 60px;
  padding: 0;
}

header {
  margin-bottom: 10px;
}

.article-container {
  height: 90%;
  width: 100%;
}

.content-one,
.content-two,
.content-three {
  width: 100%;
  height: 200px;
}

.content-one {
  background-color: red;
}

.content-two {
  background-color: blue;
}

.content-three {
  background-color: green;
}

@media screen and (min-width: 420px) {
  header {
    height: 50px;
  }

  .article-container {
    width: 100%;
  }

  .content-one {
    height: 500px;
  }

  .content-two,
  .content-three {
    display: inline-block;
    height: 200px;
    width: 50%;
  }

  .content-three {
    float: right;
  }
}

@media screen and (min-width: 800px) {
  .article-container {
    width: 100%;
    position: absolute;
    top: 60px;
  }

  .content-one {
    height: 975px;
    width: 50%;
    margin: 0 auto;
  }

  .content-two {
    float: left;
  }

  .content-three {
    float: right;
  }

  .content-two,
  .content-three {
    height: 975px;
    width: 25%;
  }
}
